@font-face {
    font-family: 'TildaSans';
    src: url('fonts/TildaSans-VF.woff2') format('woff2'),
         url('fonts/TildaSans-VF.woff') format('woff');
}

*{
    margin: 0%;
    padding: 0%;
}
.container{
    padding-left: 160px;
    padding-right: 160px;
}
.logo a{
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: 700;
    font-family: 'TildaSans', Arial, sans-serif;
    margin-top: 70px;
    margin-bottom: 50px;
}
.logo a:link{
    color: black;
    text-decoration: none;
}
.logo a:visited{
    color: black;
    text-decoration: none;
}
.logo a:active{
    color: red;
    text-decoration: none;
}
.INFO {
    font-size: 13px;
}
.ONAS{
    text-align: center;
    max-width: 751px;
    margin-left: 410px;
    font-size: 24px;
    font-family: 'TildaSans', Arial, sans-serif;
    font-weight: 300;
    line-height: 42.5px;  
}
.pictures{
    display: flex;
    justify-content: center;
    margin-top: 13px;
}
.pics img{
    width: 100%;
    height: 373.63px;
    width: 373.63px;
}
.first{
    height: 766.25px;
    width: 767.25px;
}
.pics{
    display: flex;
    flex-direction: column;
    padding-left: 13px;
    justify-content: space-between;
    
}
.text-card{
    text-align: center;
    padding: 40px 0px;
}

.product-name{
    font-size: 32px;
    font-family: 'TildaSans', Arial, sans-serif;
    font-weight: 600;
}

.product-description{
    font-size: 20px;
    font-family: 'TildaSans', Arial, sans-serif;
    font-weight: 300;
}

.buy{
    height: 60px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'TildaSans', Arial, sans-serif;
    padding-left: 60px;
    padding-right: 60px;
    color: #ffffff;
    background-color: #ff5e42;
    border: 0 none;
    text-align: center;
    cursor: pointer;
}
