/* CSS Document */
*{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1600px;
    margin: auto;
    padding: 0 20px;
}

section{
    margin-top: 60px;
}

.section-title{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-title p{
    max-width: 1280px;
}

/* Fonts */
body{
    font-family: "Roboto", sans-serif;
}

h1{
    font-weight: 700;
    font-size: 52px;
    line-height: 60px;
    color: #2E363E;
}

h2{
    font-weight: 700;
    font-size: 44px;
    line-height: 56px;
    color: #2E363E;
}

h3{
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: #2E363E;
}

h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F97832;
}

a{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #2E363E;
    text-decoration: none;
}

p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #455A64;
}

button{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F6F6F6;
    text-align: center;
}

/* Buttons */
button{
    background-color: #F97832;
    border: none;
    padding: 20px 60px;
}

button:hover{
  background: rgba(0,0,0,0);
  color:  #F97832;
  box-shadow: inset 0 0 0 3px   #F97832;
  cursor: pointer;
}

/* Header */
.header-inner{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.header-links{
    display: flex;
    gap: 90px;
}

.menu{
    display: flex;
    align-items: center;
}

.contacts{
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu-items{
    display: flex;
    gap: 60px;
}

.menu-items li{
    display: inline;
}

.header-inner img{
    display: block;
    height: 36px;
}

/* Banner */

.banner{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    height: 620px;
}

.banner-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
    justify-content: center;
}

.banner-first{
    background-image: url(img/banner1.png);
      
}

.banner-second{
    background-image: url(img/banner2.png);
}

.banner h2, .banner p{
    text-align: center;
    color: #F6F6F6;
}


/* Catalog */
.cards{
    display: grid;
    justify-content: space-between;
    gap: 60px;
    margin-top: 40px;
    grid-template-columns: auto auto;
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-pics{
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}

.card-pics img{
    max-width: 100%;
    aspect-ratio: 1 / 1;
    display: block;
}

.card-pics img:first-child{
    grid-column: 2 span;
    grid-row: 2 span;
}

.card-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Reasons */
.reasons-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.reason{
    max-width: 300px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Individual project */
.individual-project{
    padding-top: 40px;
    background-color: #F6F6F6;
    padding-bottom: 60px;
}

.project{
    display: flex;
    justify-content: flex-end;
    gap: 60px;
    margin-bottom: 40px;
}

.individual-project img{
    display: block;
    max-width: 50%;
    height: fit-content;
}

.project-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    max-width: 40%;
}

/* Contacts */
.contacts-wrap{
    margin-top: 0;
    background-color:#F97832;
    height: 480px;
}
.contacts-block{
    display: flex;
    justify-content: flex-end;
    gap: 60px;
    margin-bottom: 40px;
}
.ya-map{
    width: 55%;
}
.contacts-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    min-width: 30%;
    padding-top: 60px;
}
.contacts-wrap p , .contacts-wrap h2{
    color: #F6F6F6;
}
.contacts-text h2{
    padding-bottom: 20px;
}




/* Footer */
footer{
    background-color: #1E1E1E;
    padding: 60px 0px;
}

.footer-inner{
    display: flex;
    justify-content: space-between;
}

.footer-inner h1, .footer-inner a{
    color: #F6F6F6;
}

.footer-menu{
    display: flex;
    align-items: center;
}

.footer-menu-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-menu-items li{
    display: inline;
}

.footer-contacts{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-contacts div{
    display: flex;
}

.footer-contacts img{
    display: block;
}

