@font-face {
    font-family: 'TildaSans';
    src: url('fonts/TildaSans-VF.woff2') format('woff2'),
         url('fonts/TildaSans-VF.woff') format('woff');
}

*{
    margin: 0;
    padding: 0;
}
.container{
	max-width: 1200px;
	margin: auto;
}

.logo{
    padding-top: 60px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.logo a{
    font-size: 48px;
    font-weight: 700;
    font-family: 'TildaSans', Arial, sans-serif;
}

.logo a:link, .logo a:visited, .logo a:hover{
    color: black;
    text-decoration: none;
}

.ONAS{
    font-size: 24px;
    font-family: 'TildaSans', Arial, sans-serif;
    font-weight: 300;
    text-align: center;
}

.INFO{
    padding: 0px 200px 60px 200px;
}

.pictures{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    gap: 20px;
    padding: 20px 20px 0px 20px;
}

.pictures img{
    max-width: 100%;
    aspect-ratio: 1 / 1; 
}

.img1{
    grid-column: 2 span;
    grid-row: 2 span;
}

.text-card{
    text-align: center;
    padding: 40px 0px;
}

.product-name{
    font-size: 32px;
    font-family: 'TildaSans', Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.product-description{
    font-size: 20px;
    font-family: 'TildaSans', Arial, sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
    padding: 0px 300px;
}

.buy{
    height: 60px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'TildaSans', Arial, sans-serif;
    padding-left: 60px;
    padding-right: 60px;
    color: #ffffff;
    background-color: #ff5e42;
    border: 0 none;
    text-align: center;
    cursor: pointer;
    margin-top: 30px;
}

.price-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 10px; 
}

.price-wrapper p{
    font-size: 24px;
    font-family: 'TildaSans', Arial, sans-serif;
    font-weight: 600;
}

.old-price{
    text-decoration: line-through;
    color: #bdbdbd;
}
