<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MAX_STOL</title>
    <link rel="stylesheet" href="../static/maxim.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <dialog class="dialog" id="orderDialog">
      <div class="dialog-wrapper">
        <div class="close-button closeDialogBtn"><img src="../static/img/close.svg" alt="#"></div>
        <div class="dialog-inner">
          <div class="order-config">
            <div class="card-pics">
              <img class="img1"  alt="den1">
              <img class="img2"  alt="den2">
              <img class="img3"  alt="den3">
            </div>
            <div class="order-parameter desk-color">
              <h4>Цвет столешницы</h4>
              <div class="radio-buttons"></div>
            </div>
            <div class="order-parameter frame-color">
              <h4>Цвет металлокаркаса</h4>
              <div class="radio-buttons"></div>
            </div>
            <div class="order-parameter depth">
              <h4>Глубина</h4>
              <div class="radio-buttons"></div>
            </div>
            <div class="order-parameter length">
              <h4>Длина</h4>
              <div class="radio-buttons"></div>
            </div>
          </div>
          <div class="order-user">
            <form class="oder-user-fieldset">
              <div class="order-user-field">
                <h4>ФИО*</h4>
                <input type="text" class="input-field" placeholder="Пушкин Александр Сергеевич*">
              </div>
              <div class="order-user-field">
                <h4>Телефон*</h4>
                <input type="tel" value="+7" class="input-field">
              </div>
              <div class="order-user-field">
                <h4>E-mail</h4>
                <input type="email" class="input-field" placeholder="клиент@gmail.com*">
              </div>
              <div class="order-user-field">
                <h4>Telegram</h4>
                <input type="email" class="input-field" placeholder="@никнейм">
              </div>
            </form>
            <button class="button">Заказать</button>
          </div>
        </div>
      </div>
    </dialog>
    <header>
      <div class="container">
        <div class="header-inner">
          <div class="logo">
            <h1>MAX_STOL</h1>
          </div>
          <nav class="header-links">
            <div class="menu">
              <ul class="menu-items">
                <li><a href="#">Каталог</a></li>
                <li><a href="#">Индивидуальный проект</a></li>
                <li><a href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="contacts">
              <a href=""><img src="../static/img/tg.svg" alt="tg"></a>
              <a class="phone-icon" href=""><img src="img/phone.svg" alt="phone"></a>
              <a class="phone-number" href="#">+7 (999) 999-99-99</a>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <section class="banner">
      <div class="banner-block banner-first">
        <h2>Товары<br>в наличии</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button  class="button">В каталог</button>
      </div>
      <div class="banner-block banner-second">
        <h2>Изготовление по<br>вашим размерам</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button  class="button">Оставить заявку</button>
      </div>
    </section>
    <section class="catalog">
      <div class="container">
        <div class="section-title">
          <h2>Каталог товаров</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="cards">
          {% for product in products %}
          <div class="card">
            <div class="card-pics">
              <img src="{{ product.first_image }}" alt="den1">
              <img src="{{ product.second_image }}" alt="den2">
              <img src="{{ product.third_image }}" alt="den3">
            </div>
            <div class="card-text"> 
              <h3>{{ product.name }}</h3>
              <p>{{ product.description }}</p>
              <h4>{{ product.price }} руб.</h4>
              <button id="{{ product.id }}" class="openDialogBtn button">Заказать</button>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <section class="reasons"> 
      <div class="container">
        <div class="section-title">
          <h2>Почему очень многие покупают у нас?</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="reasons-flex">
          <div class="reason">
            <img src="../static/img/Ellipse%204.svg" alt="Ellipse">
            <h3>Причина 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div class="reason">
            <img src="../static/img/Ellipse%204.svg" alt="Ellipse">
            <h3>Причина 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div class="reason">
            <img src="../static/img/Ellipse%204.svg" alt="Ellipse">
            <h3>Причина 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div class="reason">
            <img src="../static/img/Ellipse%204.svg" alt="Ellipse">
            <h3>Причина 4</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="individual-project">
      <div class="project-container">
      <div class="project">
        <div class="project-text">
          <h4>Проектирование мебели по<br>индивидуальному требованию</h4>
          <h2>Необходим индивидуальный проект?</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <button class="button">Связаться с нами</button>
        </div>
        <img src="../static/img/Group16.png" alt="photo">
      </div>
      <div class="container">
        <div class="section-title">
          <h2>Этапы работ</h2>
        </div>
        <div class="steps-flex">
          <div class="step">
            <img src="../static/img/Ellipse%204.svg" alt="Ellipse">
            <div class="step-text">
            <h3>Напишите нам</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="step">
            <img src="../static/img/Ellipse%204.svg" alt="Ellipse">
            <div class="step-text">
            <h3>Напишите нам</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="step">
            <img src="../static/img/Ellipse%204.svg" alt="Ellipse">
            <div class="step-text">
            <h3>Напишите нам</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="step">
            <img src="../static/img/Ellipse%204.svg" alt="Ellipse">
            <div class="step-text">
            <h3>Напишите нам</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <section class="contacts-wrap">
      <div class="contacts-block">
        <div class="contacts-text">
          <h2>Свяжитесь с нами</h2>
          <div class="contacts-info">
          <p>+7 (999) 999-99-99</p>
          <p>qwerty@qwerty.ru</p>
          <p>улица Героя Юрия Смирнова, 13, Нижний Новгород, 603016</p>
          </div>
        </div>
        <div class="ya-map">
          <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A90367418ed7d250273df6ee0a766e801178e15e103917c57d9176411415bb126&amp;source=constructor" width="100%"  frameborder="0"></iframe>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="footer-inner">
          <div class="logo">
            <h1>MAX_STOL</h1>
          </div>
          <div class="footer-menu">
            <ul class="footer-menu-items">
              <li><a href="#">Каталог</a></li>
              <li><a href="#">Индивидуальный проект</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
          </div>
          <div class="footer-contacts">
            <div class="footer-icon"><a href="#"><img src="img/phone.svg" alt="phone"></a></div>
            <div class="footer-text"><a href="#">+7 (999) 999-99-99</a></div>
            <div class="footer-icon"><a href="#"><img src="img/pochta.svg" alt="pochta"></a></div>
            <div class="footer-text"><a href="#">qwerty@qwerty.ru</a></div>
            <div class="tg-footer"><a href="#"><img src="../static/img/tg.svg" alt="tg"></a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../static/js/popup.js"></script>
  </body>
</html>
