<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAX_STOL - Цвета металлокаркаса</title>
    <link rel="stylesheet" href="../../static/admin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div>
                <div class="logo">MAX_STOL</div>
                <ul class="menu">
                    <li><a href="/admin">Заказы</a></li>
                    <li><a href="/admin/individual-project">Индивидуальный проект</a></li>
                    <li><a href="/admin/desks">Товары</a></li>
                    <li><a href="/admin/desk-colors">Цвета столешниц</a></li>
                    <li><a href="/admin/frame-colors" class="active">Цвета металлокаркаса</a></li>
                    <li><a href="/admin/lengths">Длины столов</a></li>
                    <li><a href="/admin/depths">Глубины столов</a></li>
                    <li><a href="/admin/content">Контент</a></li>
                </ul>
            </div>
            <div class="logout">
                <button id="logout-btn">Выход</button>
            </div>
        </div>
        <div class="main-content">
            <h1>Цвета металлокаркаса</h1>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Сортировка</th>
                        <th>Название</th>
                        <th>Дата создания</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for color in frame_colors %}
                    <tr>
                        <td>{{ color.id }}</td>
                        <td>{{ color.sort }}</td>
                        <td>{{ color.name }}</td>
                        <td>{{ color.created_at.strftime('%d.%m.%Y %H:%M') }}</td>
                        <td class="actions">
                            <button class="table-button"><svg class="svg-icon"><use xlink:href="../../static/sprite.svg#magnifier"></use></svg></button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="../../static/js/admin/logout.js"></script>
</body>