<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAX_STOL - Товары</title>
    <link rel="stylesheet" href="../../static/admin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div>
                <div class="logo">MAX_STOL</div>
                <ul class="menu">
                    <li><a href="/admin">Заказы</a></li>
                    <li><a href="/admin/individual-project">Индивидуальный проект</a></li>
                    <li><a href="/admin/desks" class="active">Товары</a></li>
                    <li><a href="/admin/desk-colors">Цвета столешниц</a></li>
                    <li><a href="/admin/frame-colors">Цвета металлокаркаса</a></li>
                    <li><a href="/admin/lengths">Длины столов</a></li>
                    <li><a href="/admin/depths">Глубины столов</a></li>
                    <li><a href="/admin/content">Контент</a></li>
                </ul>
            </div>
            <div class="logout">
                <button id="logout-btn">Выход</button>
            </div>
        </div>
        <div class="main-content">
            <div class="head">
                <h1>Товары</h1>
                <button class="add-button">Добавить товар</button>
            </div>
            <div id="orderModal" class="modal">
              <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Товар #<span id="modal-order-id"></span></h2>
                <div class="modal-body">
                  <div class="row">
                    <div class="col">
                      <p><strong>Имя:</strong> <span id="modal-username"></span></p>
                      <p><strong>Телефон:</strong> <span id="modal-phone"></span></p>
                      <p><strong>Email:</strong> <span id="modal-email"></span></p>
                      <p><strong>Telegram:</strong> <span id="modal-telegram"></span></p>
                    </div>
                    <div class="col">
                      <p><strong>Товар:</strong> <span id="modal-product-name"></span></p>
                      <p><strong>Цвет столешницы:</strong> <span id="modal-desk-color"></span></p>
                      <p><strong>Цвет каркаса:</strong> <span id="modal-frame-color"></span></p>
                      <p><strong>Глубина:</strong> <span id="modal-depth"></span></p>
                      <p><strong>Длина:</strong> <span id="modal-length"></span></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p><strong>Дата создания:</strong> <span id="modal-created-at"></span></p>
                      <button class="del-btn" onclick="deleteProduct(this)">Удалить</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Сортировка</th>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Активность</th>
                        <th>Дата создания</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.sort }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ "Да" if product.is_active else "Нет" }}</td>
                        <td>{{ product.created_at.strftime('%d.%m.%Y %H:%M') }}</td>
                        <td class="actions">
                            <button class="table-button"><svg class="svg-icon"><use xlink:href="../../static/sprite.svg#magnifier"></use></svg></button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="../../static/js/admin/logout.js"></script>
</body>