/* CSS Document */
*{
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

.container{
    max-width: 1600px;
    margin: auto;
    padding: 0 20px;
}

section{
    margin-top: 60px;
}

.section-title{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-title p{
    max-width: 1280px;
}

@media (max-width: 1280px) {
    .container{
        max-width: 1066px;
        margin: auto;
        padding: 0 20px;
    }

    section{
        margin-top: 40px;
    }

    .section-title p{
        max-width: 854px;
    }
}

@media (max-width: 768px) {
    .container{
        max-width: 640px;
        margin: auto;
        padding: 0 20px;
    }

    .section-title p{
        max-width: 512px;
    }
}

@media (max-width: 576px) {
    .container{
        max-width: 480px;
        margin: auto;
        padding: 0 20px;
    }

    .section-title{
        gap: 12px;
    }

    .section-title p{
        max-width: 384px;
    }
}

/* Fonts */
body{
    font-family: "Roboto", sans-serif;
}

h1{
    font-weight: 700;
    font-size: 52px;
    line-height: 60px;
    color: #2E363E;
}

h2{
    font-weight: 700;
    font-size: 44px;
    line-height: 56px;
    color: #2E363E;
}

h3{
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: #2E363E;
}

h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F97832;
}

a{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #2E363E;
    text-decoration: none;
}

p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #455A64;
}

.button{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F6F6F6;
    text-align: center;
}

@media (max-width: 1280px) {
    h1{
        font-size: 32px;
        line-height: 36px;
    }

    h2{
        font-size: 24px;
        line-height: 32px;
    }

    h3{
        font-size: 20px;
        line-height: 24px;
    }

    h4{
        font-size: 16px;
        line-height: 20px;
    }

    a{
        font-size: 16px;
        line-height: 20px;
    }

    p{
        font-size: 12px;
        line-height: 18px;
    }

    .button{
        font-size: 12px;
        line-height: 18px;
    }
}

@media (max-width: 576px) {
    h1{
        font-size: 28px;
        line-height: 32px;
    }

    h2{
        font-size: 24px;
        line-height: 28px;
    }

    h3{
        font-size: 18px;
        line-height: 22px;
    }

    p{
        font-size: 14px;
        line-height: 20px;
    }

    .button{
        font-size: 14px;
        line-height: 20px;
    }
}

/* Buttons */
.close-button:hover{
    cursor: pointer;
}

.button{
    background-color: #F97832;
    border: none;
    padding: 20px 60px;
}

.button:hover{
  background: rgba(0,0,0,0);
  color:  #F97832;
  box-shadow: inset 0 0 0 3px   #F97832;
  cursor: pointer;
}
@media (max-width: 1280px) {
    .button{
        padding: 12px 40px;
    }

}

/* Header */
.header-inner{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.header-links{
    display: flex;
    gap: 90px;
}

.menu{
    display: flex;
    align-items: center;
}

.contacts{
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu-items{
    display: flex;
    gap: 60px;
}

.menu-items li{
    display: inline;
}

.header-inner img{
    display: block;
    height: 36px;
}
.phone-icon{
    display: none;
}

@media (max-width: 1280px) {
    .phone-icon{
        display: block;
    }
    .phone-number{
        display: none;
    }
    .contacts{
        gap: 20px;
    }
    .header-links{
        gap: 40px;
    }
    .menu-items{
        gap: 40px;
    }
}

@media (max-width: 768px) {
    .contacts{
        display: none;
    }
    .header-inner{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .header-links{
        width: 100%;
    }
    .menu{
        width: 100%;
    }
    .menu-items{
        justify-content: space-between;
        width: 100%;
        gap: unset;
    }
}

@media (max-width: 576px) {
    .menu-items{
        text-align: center;
        gap: 10px;
    }
}

/* Banner */

.banner{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    height: 620px;
}

.banner-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
    justify-content: center;
}

.banner-first{
    background-image: url(img/banner1.png);

}

.banner-second{
    background-image: url(img/banner2.png);
}

.banner h2, .banner p{
    text-align: center;
    color: #F6F6F6;
}

@media (max-width: 1280px) {
    .banner{
        height: 413px;
    }
    .banner-block{
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .banner-first{
        display: none;
    }
    .banner-block{
        gap: 12px;
    }
    .banner{
        height: 500px;
    }
}

@media (max-width: 576px) {
    .banner-first{
        display: none;
    }
    .banner-block{
        gap: 12px;
    }
    .banner{
        height: 373px;
    }
}


/* Catalog */
.cards{
    display: grid;
    justify-content: space-between;
    gap: 60px;
    margin-top: 40px;
    grid-template-columns: auto auto;
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-pics{
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}

.card-pics img{
    max-width: 100%;
    aspect-ratio: 1 / 1;
    display: block;
}

.card-pics img:first-child{
    grid-column: 2 span;
    grid-row: 2 span;
}

.card-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media (max-width: 1280px) {
    .cards{
        gap: 40px;
    }
}
@media (max-width:768px) {
    .cards{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .card{
        gap: 12px;
    }
    .card-text{
        gap: 12px;
    }
}
@media (max-width:576px) {
    .cards{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .card{
        gap: 12px;
    }
    .card-text{
        gap: 12px;
    }
}

/* Reasons */
.reasons-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.reason{
    max-width: 300px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
@media (max-width: 1280px) {
    .reasons-flex{
        margin-top: 20px;
    }
    .reason{
        max-width: 180px;
    }
}

@media (max-width:768px) {
    .reasons-flex{
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 20px;
    }
    .reason{
        max-width: 230px;
    }
}

@media (max-width: 576px) {
    .reasons-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .reason{
        max-width: 300px;
    }
}


/* Individual project */
.individual-project{
    padding-top: 40px;
    background-color: #F6F6F6;
    padding-bottom: 60px;
}

.project{
    display: flex;
    justify-content: flex-end;
    gap: 60px;
    margin-bottom: 40px;
}

.individual-project img{
    display: block;
    max-width: 50%;
    height: fit-content;
}

.project-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    max-width: 40%;
}
.steps-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.step{
    max-width: 300px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.step-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 1280px) {
    .project{
        gap: 20px;
        margin-bottom: 20px;
    }
    .project-text{
        gap: 20px;
    }
    .individual-project{
        padding-bottom: 40px;
    }
    .step{
        max-width: 180px;
        gap: 12px;
    }
    .step-text{
        gap: 12px;
    }
}

@media (max-width:768px) {
    .project{
        flex-direction: column;
    }
    .project-text{
        max-width: 100%;
    }
    .individual-project img{
        max-width: 100%;
    }
    .project-container{
        max-width: 640px;
        margin: auto;
        padding: 0 20px;
    }
    .steps-flex{
        flex-direction: column;
        gap: 40px;
        margin-top: 20px;
    }
    .step{
        flex-direction: row;
        max-width: 100%;
        gap: 40px;
        text-align: start;
    }
    .step-text{
        gap: 12px;
        align-items: flex-start;
    }
    .individual-project .container{
        padding: 0;
        margin: 0;
    }
}

@media (max-width:576px) {
    .project-text{
        gap: 12px;
    }
    .project-container{
        max-width: 480px;
        margin: auto;
        padding: 0 20px;
    }
    .steps-flex{
        margin-top: 20px;
    }
    .step{
        gap: 20px;
    }
}

/* Contacts */
.contacts-wrap{
    margin-top: 0;
    background-color:#F97832;
    height: 480px;
}
.contacts-block{
    display: flex;
    justify-content: flex-end;
    gap: 60px;
}
.ya-map{
    width: 55%;
}
.ya-map iframe{
    height: 480px;
    display: block;
}
.contacts-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    min-width: 30%;
    padding-top: 60px;
}
.contacts-wrap p , .contacts-wrap h2{
    color: #F6F6F6;
}

.contacts-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 1280px) {
    .contacts-wrap{
        height: 320px;
    }
    .ya-map iframe{
        height: 320px;
    }
    .contacts-text{
        padding-top: 40px;
    }
}

@media (max-width:768px) {
    .contacts-block{
        flex-direction: column;
        gap: 40px;
    }
    .contacts-text{
        align-items: center;
        max-width: 640px;
        gap: 20px;
        padding: 40px 20px 0px 20px;
        margin: auto;
    }
    .contacts-info{
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
    }
    .ya-map{
        width: 100%;
    }
    .ya-map iframe{
        height: 576px;
    }
    .contacts-wrap{
        height: auto;
    }
}

@media (max-width: 576px) {
    .contacts-text{
        max-width: 480px;
    }
    .contacts-info{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .ya-map iframe{
        height: 430px;
    }
}

/* Footer */
footer{
    background-color: #1E1E1E;
    padding: 60px 0px;
}

.footer-inner{
    display: flex;
    justify-content: space-between;
}

.footer-inner h1, .footer-inner a{
    color: #F6F6F6;
}

.footer-menu{
    display: flex;
    align-items: center;
}

.footer-menu-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-menu-items li{
    display: inline;
}

.footer-contacts{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-icon{
    display: none;
}
.tg-footer {
    display: flex;
}

.footer-contacts img{
    display: block;
}
@media (max-width:1280px) {
    footer{
        padding: 40px 0px;
    }

}
@media (max-width:768px) {
    .footer-inner{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .footer-menu-items{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
        text-align: center;
    }
    .footer-menu{
        width: 100%;
    }
    .footer-contacts{
        flex-direction: row-reverse;
        gap: 40px;
    }
    .footer-text{
        display: none;
    }
    .footer-icon{
        display: flex;
    }
}

/* Order pop-up */
.dialog{
    width: auto;
    max-width: none;
    max-height: 100dvh;
    height: 100dvh;
    margin: auto;
    padding: 20px;
    overflow-y: auto;
    background: 0 0;
    border: 0;
    position: fixed;
}

dialog::backdrop {
    background-color: rgb(0 0 0 / 0.9);
  }

.dialog-wrapper{
    background-color: #fff;
    max-width: 1280px;
    margin: 0 auto;
}

.dialog-inner{
    display: flex;
    gap: 60px;
    padding: 40px 20px 40px 40px;
}

.dialog-inner h4{
    color: #2E363E;
}
.scroll-lock{
    overflow: hidden;
}

.order-config{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.radio-buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.radio-buttons input[type="radio"] {
    display: none;
}

.checkbox-button{
    padding: 8px 20px;
    background-color: #F6F6F6;
    cursor: pointer;
    color: #2E363E;
}

.radio-buttons input[type="radio"]:checked + .checkbox-button {
    background-color: #F97832;
    color: #F6F6F6;
}

.order-parameter{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.order-user{
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-width: 400px;
    align-items: flex-start;
}

.oder-user-fieldset{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.order-user-field{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    outline: none;
    margin: 0;
    border: 1px solid #D9D9D9;
    padding: 12px 16px;
    color: #2E363E;
}

.input-field {
    border: none;
    border-bottom: 1px solid #D9D9D9;
    padding: 12px 0;
    background: transparent;
    transition: all 0.3s ease;
}

.input-field::placeholder {
    transition: all 0.3s ease;
    color: #aaa;
}

.input-field:focus::placeholder {
    transform: translateX(5px);
    opacity: 0;
}

.close-button{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.close-button img{
    display: block;
}