/* CSS Document */

:root {
  --main-padding: 60px;
  --secondary-padding: 40px;
  --tertiary-padding: 20px;
}

@media (max-width: 1280px) {
  :root {
    --main-padding: 40px;
    --secondary-padding: 40px;
    --tertiary-padding: 20px;
  }
}

@media (max-width: 768px) {
  :root {
    --main-padding: 40px;
    --secondary-padding: 20px;
    --tertiary-padding: 12px;
  }
}

@media (max-width: 576px) {
  :root {
    --main-padding: 40px;
    --secondary-padding: 20px;
    --tertiary-padding: 12px;
  }
}

*{
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

.container{
    max-width: 1600px;
    margin: auto;
    padding: 0 20px;
}

section{
    margin-top: 60px;
}

.section-title{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-title p{
    max-width: 1280px;
}

.icon{
    display: flex;
}

.svg-icon{
    height: 36px;
    width: 36px;
}

@media (max-width: 1280px) {
    .container{
        max-width: 1066px;
        margin: auto;
        padding: 0 20px;
    }

    section{
        margin-top: 40px;
    }

    .section-title p{
        max-width: 854px;
    }
}

@media (max-width: 768px) {
    .container{
        max-width: 640px;
        margin: auto;
        padding: 0 20px;
    }

    .section-title p{
        max-width: 512px;
    }
}

@media (max-width: 576px) {
    .container{
        max-width: 480px;
        margin: auto;
        padding: 0 20px;
    }

    .section-title{
        gap: 12px;
    }

    .section-title p{
        max-width: 384px;
    }
}

/* Fonts */
body{
    font-family: "Roboto", sans-serif;
}

h1{
    font-weight: 700;
    font-size: 52px;
    line-height: 60px;
    color: #2E363E;
}

h2{
    font-weight: 700;
    font-size: 44px;
    line-height: 56px;
    color: #2E363E;
}

h3{
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: #2E363E;
}

h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F97832;
}

a{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #2E363E;
    text-decoration: none;
}

p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #455A64;
}

.button{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F6F6F6;
    text-align: center;
}

@media (max-width: 1280px) {
    h1{
        font-size: 32px;
        line-height: 36px;
    }

    h2{
        font-size: 24px;
        line-height: 32px;
    }

    h3{
        font-size: 20px;
        line-height: 24px;
    }

    h4{
        font-size: 16px;
        line-height: 20px;
    }

    a{
        font-size: 16px;
        line-height: 20px;
    }

    p{
        font-size: 12px;
        line-height: 18px;
    }

    .button{
        font-size: 12px;
        line-height: 18px;
    }
}

@media (max-width: 576px) {
    h1{
        font-size: 28px;
        line-height: 32px;
    }

    h2{
        font-size: 24px;
        line-height: 28px;
    }

    h3{
        font-size: 18px;
        line-height: 22px;
    }

    p{
        font-size: 14px;
        line-height: 20px;
    }

    .button{
        font-size: 14px;
        line-height: 20px;
    }
}

/* Buttons */
.close-button:hover{
    cursor: pointer;
}

.button{
    background-color: #F97832;
    border: none;
    padding: 12px 40px;
}

.button:hover{
  background: rgba(0,0,0,0);
  color:  #F97832;
  box-shadow: inset 0 0 0 3px   #F97832;
  cursor: pointer;
}
@media (max-width: 1280px) {
    .button{
        padding: 12px 40px;
    }

}

/* Header */
.header-inner{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.header-links{
    display: flex;
    gap: 90px;
}

.menu{
    display: flex;
    align-items: center;
}

.contacts{
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu-items{
    display: flex;
    gap: 60px;
}

.menu-items li{
    display: inline;
}

.phone-icon{
    display: none;
}

header .svg-icon{
    fill: #2E363E;
}

@media (max-width: 1280px) {
    .phone-icon{
        display: flex;
    }
    .phone-number{
        display: none;
    }
    .contacts{
        gap: 20px;
    }
    .header-links{
        gap: 40px;
    }
    .menu-items{
        gap: 40px;
    }
}

@media (max-width: 768px) {
    .contacts{
        display: none;
    }
    .header-inner{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .header-links{
        width: 100%;
    }
    .menu{
        width: 100%;
    }
    .menu-items{
        justify-content: space-between;
        width: 100%;
        gap: unset;
    }
}

@media (max-width: 576px) {
    .menu-items{
        text-align: center;
        gap: 10px;
    }
}

/* Banner */

@media (min-width: 1280px) {
    .banner-container{
        max-width: 1600px;
        margin: auto;
        padding: 0 20px;
    }
}

.banner{
    margin-top: 0px;
}

.banner-block{
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
    justify-content: center;
}

.banner h2, .banner p{
    text-align: center;
}


/* Элементы управления слайдером */
.slider-nav {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 100%;
  background: none;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
  transition: background 0.3s;
}

.slider-nav:hover {
  background: none;
}

.slider-nav.prev {
  left: 0px;
}

.slider-nav.next {
  right: 0px;
}

.slider-dots {
  display: none;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot {
  display: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active {
  background: white;
}

@media (max-width: 1280px) {
    .banner-block{
        gap: 20px;
    }
}

@media (max-width: 768px) {
  
    .banner-block{
        gap: 12px;
    }
    .slider-nav{
        display: block;
        position: absolute;
        top: 50%;
    }
    .slider-dots{
        display: flex;
        position: absolute;
        top: 90%;
    }
    .dot{
        display: flex;
        z-index: 21;
    }
    .dot.active{
        display: flex;
    }
    
}

@media (max-width: 576px) {

    .banner-block{
        gap: 12px;
    }
    .slider-nav{
        top: 50%;
    }
    .slider-dots{
        top: 90%;
    }
    .dot{
        display: flex;
    }
    .dot.active{
        display: flex;
    }
}


/* Catalog */
.cards{
    display: grid;
    justify-content: space-between;
    gap: 60px;
    margin-top: 40px;
    grid-template-columns: auto auto;
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-pics{
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}

.card-pics img{
    max-width: 100%;
    aspect-ratio: 1 / 1;
    display: block;
}

.card-pics img:first-child{
    grid-column: 2 span;
    grid-row: 2 span;
}

.card-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media (max-width: 1280px) {
    .cards{
        gap: 40px;
    }
}
@media (max-width:768px) {
    .cards{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .card{
        gap: 12px;
    }
    .card-text{
        gap: 12px;
    }
}
@media (max-width:576px) {
    .cards{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .card{
        gap: 12px;
    }
    .card-text{
        gap: 12px;
    }
}

/* Reasons */
.reasons-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.reason{
    max-width: 300px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.reason svg{
    width: 100px;
    height: 100px;
}

@media (max-width: 1280px) {
    .reasons-flex{
        margin-top: 20px;
    }
    .reason{
        max-width: 180px;
    }
}

@media (max-width:768px) {
    .reasons-flex{
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 20px;
    }
    .reason{
        max-width: 230px;
    }
}

@media (max-width: 576px) {
    .reasons-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .reason{
        max-width: 300px;
    }
}


/* Individual project */
.individual-project{
    padding-top: 40px;
    background-color: #F6F6F6;
    padding-bottom: 60px;
}

.project{
    display: flex;
    justify-content: flex-end;
    gap: 60px;
    margin-bottom: 40px;
}

.individual-project img{
    display: block;
    max-width: 50%;
    height: 100%;
}

.project-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    max-width: 40%;
}
.steps-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.step{
    max-width: 300px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.step svg{
    width: 90px;
    height: 90px;
}

.step-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 1280px) {
    .project{
        gap: 20px;
        margin-bottom: 20px;
    }
    .project-text{
        gap: 20px;
    }
    .individual-project{
        padding-bottom: 40px;
    }
    .step{
        max-width: 180px;
        gap: 12px;
    }
    .step-text{
        gap: 12px;
    }
}

@media (max-width:768px) {
    .project{
        flex-direction: column;
    }
    .project-text{
        max-width: 100%;
    }
    .individual-project img{
        max-width: 100%;
    }
    .project-container{
        max-width: 640px;
        margin: auto;
        padding: 0 20px;
    }
    .steps-flex{
        flex-direction: column;
        gap: 40px;
        margin-top: 20px;
    }
    .step{
        flex-direction: row;
        max-width: 100%;
        gap: 40px;
        text-align: start;
    }
    .step-text{
        gap: 12px;
        align-items: flex-start;
    }
    .individual-project .container{
        padding: 0;
        margin: 0;
    }
}

@media (max-width:576px) {
    .project-text{
        gap: 12px;
    }
    .project-container{
        max-width: 480px;
        margin: auto;
        padding: 0 20px;
    }
    .steps-flex{
        margin-top: 20px;
    }
    .step{
        gap: 20px;
    }
}

/* Contacts */
.contacts-wrap{
    margin-top: 0;
    background-color:#F97832;
    height: 480px;
}
.contacts-block{
    display: flex;
    justify-content: flex-end;
    gap: 60px;
}
.ya-map{
    width: 55%;
}
.ya-map iframe{
    height: 480px;
    display: block;
}
.contacts-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    min-width: 30%;
    padding-top: 60px;
    padding-left: 20px;
}
.contacts-wrap a, .contacts-wrap p, .contacts-wrap h2{
    color: #F6F6F6;
}

.contacts-wrap a{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.contacts-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.contacts-info .svg-icon{
    fill: #F6F6F6;
}

@media (max-width: 1280px) {
    .contacts-wrap{
        height: 320px;
    }
    .ya-map iframe{
        height: 320px;
    }
    .contacts-text{
        padding-top: 40px;
    }

    .contacts-wrap a{
        font-size: 12px;
        line-height: 18px;
    }
}

@media (max-width:768px) {
    .contacts-block{
        flex-direction: column;
        gap: 40px;
    }
    .contacts-text{
        align-items: center;
        max-width: 640px;
        gap: 20px;
        padding: 40px 0px 0px 0px;
        margin: auto;
    }
    .contacts-info{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .ya-map{
        width: 100%;
    }
    .ya-map iframe{
        height: 576px;
    }
    .contacts-wrap{
        height: auto;
    }
}

@media (max-width: 576px) {
    .contacts-text{
        max-width: 480px;
    }
    .contacts-info{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .ya-map iframe{
        height: 430px;
    }

    .contacts-wrap a{
        font-size: 14px;
        line-height: 20px;
    }
}

/* Footer */
footer{
    background-color: #1E1E1E;
    padding: 60px 0px;
}

.footer-inner{
    display: flex;
    justify-content: space-between;
}

.footer-inner h1, .footer-inner a{
    color: #F6F6F6;
}

.footer-menu{
    display: flex;
    align-items: center;
}

.footer-menu-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-menu-items li{
    display: inline;
}

.footer-contacts{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-icon{
    display: none;
}
.tg-footer {
    display: flex;
}

footer .svg-icon{
    fill: #F6F6F6;
}

.footer-contacts img{
    display: block;
}
@media (max-width:1280px) {
    footer{
        padding: 40px 0px;
    }

}
@media (max-width:768px) {
    .footer-inner{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .footer-menu-items{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
        text-align: center;
    }
    .footer-menu{
        width: 100%;
    }
    .footer-contacts{
        flex-direction: row-reverse;
        gap: 40px;
    }
    .footer-text{
        display: none;
    }
    .footer-icon{
        display: flex;
    }
}

/* Order pop-up */
.dialog{
    width: auto;
    max-width: none;
    max-height: 100dvh;
    margin: auto;
    padding: 20px;
    overflow-y: auto;
    background: 0 0;
    border: 0;
    position: fixed;
}

dialog::backdrop {
    background-color: rgb(0 0 0 / 0.6);
  }

.dialog-wrapper{
    background-color: #fff;
    max-width: 975px;
    margin: 0 auto;
}

.dialog-inner{
    padding: var(--secondary-padding);
}

.dialog-inner button{
    margin-top: var(--secondary-padding);
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--tertiary-padding);
}

.product-info{
    background-color: #F4F4F4;
    padding: var(--tertiary-padding);
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--tertiary-padding);
}
.product-image{
    width: 100%;
    display: flex;
    justify-content: center;
}

.product-image img{
    display: block;
    width: 200px;
    aspect-ratio: 1/1;
}

.product-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 469px;
    min-width: 469px;
    margin-left: var(--secondary-padding);
}

.product-description p{
    margin-top: var(--tertiary-padding);
}

.dialog-inner h4{
    color: #2E363E;
}

.product-price h4{
    color: #F97832;
}

.scroll-lock{
    overflow: hidden;
}

.order-config{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.radio-buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.radio-buttons input[type="radio"] {
    display: none;
}

.checkbox-button{
    padding: 4px 8px;
    background-color: #F6F6F6;
    cursor: pointer;
    color: #2E363E;
    line-height: 20px;
}

.radio-buttons input[type="radio"]:checked + .checkbox-button {
    background-color: #F97832;
    color: #F6F6F6;
}

.order-parameter{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.order-user{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
}

.oder-user-fieldset{
    display: flex;
    gap: 60px;
    width: 100%;
}

@media (max-width: 768px) {
    .oder-user-fieldset{
        flex-direction: column-reverse;
        gap: 20px;
    }

    .dialog{
        padding: 0;
    }

    .order-user{
        width: 100%;
    }

    .product-image{
        justify-content: flex-start;
    }

    .product-text{
        min-width: auto;
        max-width: none;
        width: 100%;
    }
}

@media (max-width: 576px) {
    
    .product-image img{
        width: 150px;
    }
}

.order-user-field{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    outline: none;
    margin: 0;
    border: 1px solid #D9D9D9;
    padding: 12px 16px;
    color: #2E363E;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.input-field {
    border: none;
    border-bottom: 1px solid #D9D9D9;
    padding: 4px 2px;
    background: transparent;
    transition: all 0.3s ease;
    
}

.error-message {
  color: #F97832;
  font-size: 12px;
  margin-top: 5px;
  display: block;
  height: 16px;
}

.order-user-field.has-error {
  margin-bottom: 15px;
}


.input-field::placeholder {
    transition: all 0.3s ease;
    color: #aaa;
}

.input-field:focus::placeholder {
    transform: translateX(5px);
    opacity: 0;
}

.close-button{
    display: flex;
}

.close-button svg{
    width: 24px;
    height: 24px;
    stroke: #2E363E;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.modal {
    display: none;
    background: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
}
.modal_vis {
    display: block;
}
.body_block {
    margin-right: 17px;
}
#close_modal {
    box-sizing:content-box;
}
#close_modal:hover {
    color: #FFF;
}
.modal_txt {
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    background: #FFF;
    padding: 30px 20px;
    position: absolute;
    top: 150px;
    right: 0px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal_txt .close-button{
    margin: 0;
}

.success-close{
   width: 15px;
   height: 15px;
   margin: 0px; 
}

html {
  scroll-behavior: smooth;
}

.up-button.show {
  opacity: 1;
  pointer-events: auto;
}
.up-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 55px;
  height: 55px;
  background: #F97832;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.up-button svg {
  width: 20px;
  height: 20px;
  stroke: white;
  stroke-width: 2.5;
  fill: none;
}

.up-button:hover {
  transform: translateY(-2px);
  background: #222;
}

.card-pics-slider{
    display: none;
}

.card-pics-slider img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.card-img{
    display: block;
}

@media (max-width: 768px) {

    .card-pics{
        display: none;
    }

    .card-pics-slider{
        display: block;
    }
}

.banner .itcss__indicators{
    display: none;
}